@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Painel
            <small>Resumo das atividades</small>
        </h1>

        <div class="overlay" id="divCarregando">
            <i class="fa fa-refresh fa-spin"></i>
        </div>

        <ol class="breadcrumb">
            <li><a href="~/Usuario/Inicio"><i class="fa fa-dashboard"></i> Início</a></li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3 id="labNovosClientes">0</h3>
                        <p>Novos clientes</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-user-plus"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3 id="labPedidos">0</h3>
                        <p>Pedidos no mês</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-files-o"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3 id="labPedidosCancelados">0</h3>
                        <p>Pedidos estornados</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-ban"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 id="labContasQuitadas">0<sup style="font-size: 20px">%</sup></h3>
                        <p>Contas a pagar quitadas</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-bar-chart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <section class="col-lg-7 connectedSortable">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs pull-right">
                        <li class="active"><a href="#revenue-chart" data-toggle="tab">Semana</a></li>
                        <li><a href="#sales-chart" data-toggle="tab">Tipos</a></li>
                        <li class="pull-left header"><i class="fa fa-shopping-bag"></i> Pedidos realizados da semana</li>
                    </ul>
                    <div class="tab-content no-padding">
                        <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;"></div>
                        <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;"></div>
                    </div>
                </div>
            </section>

            <section class="col-lg-5 connectedSortable">
                <div class="box box-solid bg-teal-gradient">
                    <div class="box-header">
                        <h3 class="box-title"><i class="fa fa-files-o"></i>  Totais de pedidos realizados por mês</h3>
                        <div class="box-tools pull-right">
                        </div>
                    </div>
                    <div class="box-body border-radius-none">
                        <div class="chart" id="line-chart" style="height: 280px;"></div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/inicio")
}

<script src="~/Scripts/PizzaByteSite/Telas/Geral.js"></script>
<script src="~/Scripts/PizzaByteSite/Telas/Inicio.js"></script>

<script>
    $(document).ready(function () {
        ObterInformacoesDashboard();

        var retorno = '@TempData["Retorno"]';
        toastr.options = {
            "showDuration": "400",
            "hideDuration": "600",
            "timeOut": "3000",
            "positionClass": "toast-top-right",
            "preventDuplicates": "true"
        }

        switch (retorno) {
            case "BACKUPRESTAURADO":
                toastr.success("Backup restaurado com sucesso!", "Tudo certo!");
                break;

            default:
                break;
        }
    });
</script>