################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PizzaByte/v15
/PizzaByteBll/bin/Debug
*.cache
*.CopyComplete
*.dll
*.force
*.pdb
*.xml
*.config
*.resources
/PizzaByteSite/obj/Release/Package/PackageTmp
