################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

x64/
x86/
bld/
*.lock
*.ide
*.ide-wal
*.ide-shm
*.suo
*.suo
*.user
_ReSharper.*
bin
obj
packages
obj/Release
.vs