################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.lock
*.ide
*.ide-shm
*.ide-wal
*.suo
*.resources
*.dll
*.xml
*.pdb
*.cs
*.CopyComplete
*.txt
*.cache
bin/Debug
*.config
/PizzaByteSite/obj/Release/Package/PackageTmp
