@model PizzaByteSite.Models.ArquivoModel

@{
    ViewBag.Title = "Restaurar backup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="content-header">
        <h1>
            Banco de dados
            <small>Restaurar cópia</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
            <li class="active"><i class="fa fa-plus"></i> Restaurar cópia</li>
        </ol>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="box">

                    <div class="box-header with-border">
                        <h2 class="box-title">Restaurar uma cópia do banco de dados</h2>
                    </div>

                    @using (Html.BeginForm())
                    {
                        <div class="box-body">
                            <div class="form-horizontal">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                        <input id="txtArquivo" type="file" accept=".sql" name="name" />
                                        @Html.HiddenFor(p => p.ArquivoBase64)
                                    </div>
                                </div>

                                <div class="box-footer">
                                    <div class="col-lg-12">
                                        <button type="submit" id="btnImportar" class="btn btn-primary"><i class="fa fa-save"></i> Restaurar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        //Ao selecionar uma foto
        var $txtArquivo = $("#txtArquivo");
        if (window.FileReader) {
            $txtArquivo.change(function () {
                var fileReader = new FileReader(),
                    files = this.files,
                    file;
                if (!files.length) {
                    return;
                }
                file = files[0];

                if (file.name.indexOf(".sql") < 0) {
                    swal({
                        title: "Arquivo com formato inválido!",
                        text: "O formato do arquivo está incorreto, selecione um arquivo SQL.",
                        type: "info",
                        confirmButtonColor: "#18a689",
                        confirmButtonText: "Ok",
                    });
                } else {
                    fileReader.readAsDataURL(file);
                    fileReader.onload = function () {
                        var arquivoBase64 = fileReader.result.split("base64,");
                        var base64 = arquivoBase64[1];
                        $("#ArquivoBase64").val(base64);
                    };
                }
            });
        } else {
            $txtArquivo.addClass("hide");
        }

    });
</script>

